<footer>
  <ul class="footer-left">
    <li><a href="#">about us</a></li>
    <li><a href="#">support</a></li>
    <li><a href="#">press</a></li>
    <li><a href="#">api</a></li>
    <li><a href="#">jobs</a></li>
    <li><a href="#">privacy</a></li>
    <li><a href="#">terms</a></li>
    <li><a href="#">directory</a></li>
    <li><a href="#">profile</a></li>
    <li><a href="#">hashtags</a></li>
    <li><a href="#">language</a></li>
  </ul>
  <div class="footer-right">
    <span>&copy; {{ date | date:'yyyy' }} instagram</span>
  </div>
</footer>