<footer>
    <p style="color: red;font-weight: 600;letter-spacing: 0.6px;margin: 0;text-align: center;">NOTE: This is a clone app of Instagram and is for educational purpose only.</p>  
  <ul class="footer-left">
    <li><a href="#">about us</a></li>
    <li><a href="#">support</a></li>
    <li><a href="#">press</a></li>
    <li><a href="#">api</a></li>
    <li><a href="#">jobs</a></li>
    <li><a href="#">privacy</a></li>
    <li><a href="#">terms</a></li>
    <li><a href="#">directory</a></li>
    <li><a href="#">profile</a></li>
    <li><a href="#">hashtags</a></li>
    <li><a href="#">language</a></li>
  </ul>
  <div class="footer-right">
    <span>&copy; {{ date | date:'yyyy' }} ngInsta</span>
  </div>
</footer>