.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}
ul{padding: 0;margin: 0;}
.btn:focus {
    outline: 0;
}
.settings-btn:focus{outline: none;}

/* Profile Section */
.profile {
    padding: 130px 0 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 14px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 42px;
    height: 152px;
    width: 152px;
}

.profile-image img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    width: 150px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    /* width: calc(66.666% -28px); */
}

.profile-user-settings {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-user-name {
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    font-weight: 300;
}
.stats-detail{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
}
.profile-edit-btn {
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    line-height: 26px;
    margin-left: 20px;
    padding: 0 11px;
    color: #262626;
}
.profile-edit-btn:focus{outline: none !important;}
.settings-btn{
    font-size: 21px;
    border: none;
    line-height: 26px;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    padding: 0 12px;
    padding-top: 3px;
    color: #262626; 
}
.profile-settings-btn {
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    line-height: 26px;
    padding: 0 12px;
    margin-left: 8px;
    color: #262626;
}
.profile-stats{margin-bottom: 20px;}
.profile-stats li {
    display: inline-block;
    font-size: 16px;
    line-height: 15px;
    margin-right: 40px;
    cursor: pointer;
}
.profile-stats li:first-child{cursor: default;}
.profile-stats li:last-of-type {
    margin-right: 0;
}
.profile-real-name{
    line-height: 24px;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.profile-bio p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}


/* user profile tab */
.user-profile-tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #efefef;
}
.user-profile-tab a{
    color: #999;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    line-height: 18px;
    text-transform: uppercase;
    padding: 18px 0;
    letter-spacing: 1px;
}
.user-profile-tab a:not(:last-child){
    margin-right: 60px;
}
.user-profile-tab a i{
    margin-right: 6px;
    display: inline-block;
}
.user-profile-tab .active-user-profile-tab{
    border-top: 1px solid #262626;
    color: #262626;
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.modal-content button {
    width: 100%;
    background-color: transparent;
    border: none;
    border-top: 1px solid #efefef;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.modal-content button:first-child{
    border:none;
}
#unfollowsettings .user-profile-img,
#followsettings .user-profile-img{
    margin: 32px 0 16px 0;
    height: 90px;
    width: 90px;
    display: flex;
}
#unfollowsettings p,
#followsettings p{
    margin: 13px 28px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #999;
}
#unfollowsettings .user-profile-img img,
#followsettings .user-profile-img img{
    border-radius: 50%;
    max-width: 100%;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
}
}


/* Media Query */

@media screen and (max-width: 800px) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 8px;
        padding-top: 92px;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }
/* 
    .profile-image img {
        width: auto;
        height: auto;
    } */
    .stats-detail{
        position: relative;
        margin-top: 21px;
        width: 170%;
        margin-left: -70%;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 0.8rem 0;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
    }

    .profile-stats li {
        flex: 1;
        font-size: 15px;
        margin: 0;
    }
    .profile-settings-btn{
        display: none;
    }

    .profile-stat-count {
        display: block;
        margin-bottom: 5px;
    }
    .profile-image{
        grid-row: auto;
    }
    .user-profile-tab{
        border-top: none;
        /* border-bottom: 1px solid #dadada; */
    }
    .user-profile-tab .active-user-profile-tab{
        border-top: none !important;
        color: #52abf2 !important;
    }
}

@media screen and (max-width: 518px) {
    .profile-user-settings{
        justify-content: center;
    }
    .stats-detail{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .profile-bio{
        margin-top: 0;
    }
    .profile-image{
        margin-right: 0;
    }
    .profile > div:last-child{
        width: 100%;
        align-items: center;
    }
}