.modal{
    display: block;
}
.modal-backdrop{
    z-index: 1051;
}
.postDetail-modal{
    position: fixed;
    width: 815px;
    max-width: 815px;
    margin: auto;
    top: 0; left: 0; right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1055;
}
.post-detail-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.post-detail-img{
    display: flex;
    flex-basis: 60%;
    height: 600px;
    width: 480px;
    background: #fff;
}
.post-detail-img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}
.post-detail-details{
    display: flex;
    flex-basis: 40%;
    padding: 20px;
    background: #fff;
    flex-direction: column;
}
.post-details-header{
    border-bottom: 1px solid #efefef;
    padding-bottom: 17px;
}
.post-details-header .user-post-profile-pic{
    float: left;
    height: 40px;
    margin-right: 12px;
    width: 40px;
}
.post-details-header .user-post-profile-pic img{
    border-radius: 50%;
    max-width: 100%;
    height: 40px;
    width: 40px;
}
.post-details-header .post-header-desc{
    float: left;
    margin-top: 10px;
}
.post-details-header .post-header-desc a{
    margin: 0;
    color: #262626;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
}
.post-details-body{
    padding: 12px 0;
}
.post-caption{margin-bottom: 12px;}
.post-caption p{font-size: 14px;font-weight: 400;color: #262626;line-height: 1.4;margin: 0;}
.post-caption p a{font-size: 14px;font-weight: 400;color: #262626;line-height: 1.4;}
.post-caption strong{font-weight: 600;padding-right: 8px;}
.post-caption p a:hover{color: #000; }
.body-scroll{
    height: 360px;
    overflow: auto;
}
.post-buttons{
    display: flex;
    padding: 10px 3px;
    padding-bottom: 0;
    justify-content: space-between;
}
.post-buttons button:focus{outline: 0;}
.post-buttons button:hover{cursor: pointer;}
.post-buttons button{
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 0;
}
.post-buttons .left-buttons button{margin-right: 16px;}
.post-status{padding: 0 3px;margin-top: 4px;border-bottom: 1px solid #efefef;}
.post-status strong{font-size: 14px;font-weight: 600;color: rgb(38,38,38)}
.post-status a,
.post-status small{display: block;}
.post-status small{text-transform: uppercase;color: #999;padding-bottom: 7px;font-size: 10px;letter-spacing: .2px}
.postDetail-close{
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 1052;
    background: none;
    height: 36px;
    width: 36px;
    outline: 0;
    border: none;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    font-size: 21px;
}
.postDetail-modal-nav-prev,
.postDetail-modal-nav-next{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: none;
    outline: 0;
    border: none;
    color: #fff;
    z-index: 1052;
    overflow: hidden;
    cursor: pointer;
    font-size: 30px;
}
.postDetail-modal-nav-prev{
    left: 25px;
}
.postDetail-modal-nav-next{
    right: 25px;
}
.postDetail-modal .insta-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px 0;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0;
}
.postDetail-modal .insta-loading img{
    height: 30px;
    width: 30px;
}
.postDetail-modal .insta-loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.post-details-body .body-scroll{
    border-bottom: 1px solid #efefef;
}
/* comment */
.post-commment textarea{
    resize: none;
    background: 0 0;
    float: left;
    border: 0;
    color: #262626;
    font-size: 13px !important;
    font-weight: 400;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    width: calc(100% - 50px);
}
.post-commment .form-group{margin: 0;}
.post-commment button{
    border: 0;
    color: #3897f0;
    font-size: 14px;
    width: 35px;
    float: right;
    background: 0 0;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
}
.post-commment button:disabled{
    opacity: 0.3;
}
.post-comments small{display: block;}
.post-comments small{text-transform: uppercase;color: #999;margin-top: 6px;font-size: 10px;letter-spacing: .2px}
.post-comments .user-post-profile-pic{
    float: left;
    height: 40px;
    margin-right: 12px;
    width: 40px;
}
.post-comments .user-post-profile-pic img{
    border-radius: 50%;
    max-width: 100%;
    height: 40px;
    width: 40px;
}
.post-comments li{
    margin-top: 17px;
}
.post-comments .post-header-desc{
    margin-top: 4px;
}
.post-comments .post-header-desc p{
    margin: 0;
    color: #262626;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
}
.post-comments .post-header-desc a{
    margin: 0;
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
}
.post-caption .user-post-profile-pic{
    float: left;
    height: 40px;
    margin-right: 12px;
    width: 40px;
}
.post-caption .user-post-profile-pic img{
    border-radius: 50%;
    max-width: 100%;
    height: 40px;
    width: 40px;
}
.post-caption .caption-desc{
    margin-top: 4px;
}

@media screen and (max-width: 850px) {
    .postDetail-modal{
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .modal-dialog.postDetail-modal{    
        max-width: 815px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 576px){
    .post-detail-content{
        flex-direction: column;
    }
    .postDetail-modal{
        top: 53%;
    }
    .post-detail-img{
        justify-content: center;
        width: 100%;
        max-height: 300px;
    }
    .post-detail-img img{
        width: auto !important;        
    }
    .postDetail-close{
        top: 2px;
    }
    .body-scroll{
        height: 100px;
    }
}