<ngx-content-loading [width]="800" [height]="600" *ngIf="loading">
    <svg version="1.1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 800 600">
        <svg preserveAspectRatio="xMidYMid meet" version="1.1" viewBox="0 0 800 600">
            <svg preserveAspectRatio="xMidYMid meet" version="1.1" viewBox="0 0 800 600">
                <g ngx-instagram-preset="">
                    <g cx="25" cy="25" ngx-circle="" r="25" ng-reflect-r="25" ng-reflect-cx="25" ng-reflect-cy="25">
                        <circle cx="25" cy="25" r="25" fill="url(#2219.9290688527976)" clipPath="url(#1805.9857687675205)"></circle>
                        <defs >
                            <clipPath id="1805.9857687675205"></clipPath>
                            <linearGradient id="2219.9290688527976">
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-2; 1" ng-reflect-offset="0%" ng-reflect-color="#f3f3f3" offset="-1.66813" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-2; 1" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1.5; 1.5" ng-reflect-offset="50%" ng-reflect-color="#ecebeb" offset="-1.16813" stop-color="#ecebeb">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1.5; 1.5" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1; 2" ng-reflect-offset="100%" ng-reflect-color="#f3f3f3" offset="-0.668125" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1; 2" dur="1000ms"></animate>
                                </stop>
                            </linearGradient>
                        </defs>
                    </g>
                    <g height="10" ngx-rect="" rx="5" ry="5" width="120" x="60" y="10" ng-reflect-y="10" ng-reflect-x="60" ng-reflect-rx="5" ng-reflect-ry="5" ng-reflect-width="120" ng-reflect-height="10">
                        <rect x="60" y="10" rx="5" ry="5" width="120" fill="url(#2351.18575227058)" clipPath="url(#64.8541035117632)" height="10"></rect>
                        <defs >
                            <clipPath id="64.8541035117632"></clipPath>
                            <linearGradient id="2351.18575227058">
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-2; 1" ng-reflect-offset="0%" ng-reflect-color="#f3f3f3" offset="-1.66813" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-2; 1" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1.5; 1.5" ng-reflect-offset="50%" ng-reflect-color="#ecebeb" offset="-1.16813" stop-color="#ecebeb">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1.5; 1.5" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1; 2" ng-reflect-offset="100%" ng-reflect-color="#f3f3f3" offset="-0.668125" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1; 2" dur="1000ms"></animate>
                                </stop>
                            </linearGradient>
                        </defs>
                    </g>
                    <g height="5" ngx-rect="" rx="5" ry="5" width="40" x="60" y="30" ng-reflect-y="30" ng-reflect-x="60" ng-reflect-rx="5" ng-reflect-ry="5" ng-reflect-width="40" ng-reflect-height="5">
                        <rect x="60" y="30" rx="5" ry="5" width="40" fill="url(#1507.8667728491687)" clipPath="url(#1340.4134065755898)" height="5"></rect>
                        <defs >
                            <clipPath id="1340.4134065755898"></clipPath>
                            <linearGradient id="1507.8667728491687">
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-2; 1" ng-reflect-offset="0%" ng-reflect-color="#f3f3f3" offset="-1.66813" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-2; 1" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1.5; 1.5" ng-reflect-offset="50%" ng-reflect-color="#ecebeb" offset="-1.16813" stop-color="#ecebeb">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1.5; 1.5" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1; 2" ng-reflect-offset="100%" ng-reflect-color="#f3f3f3" offset="-0.668125" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1; 2" dur="1000ms"></animate>
                                </stop>
                            </linearGradient>
                        </defs>
                    </g>
                    <g height="250" ngx-rect="" rx="5" ry="5" width="800" x="0" y="60" ng-reflect-y="60" ng-reflect-x="0" ng-reflect-rx="5" ng-reflect-ry="5" ng-reflect-width="800" ng-reflect-height="250">
                        <rect x="0" y="60" rx="5" ry="5" width="800" fill="url(#1296.8926491931902)" clipPath="url(#936.465939151942)" height="250"></rect>
                        <defs >
                            <clipPath id="936.465939151942"></clipPath>
                            <linearGradient id="1296.8926491931902">
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-2; 1" ng-reflect-offset="0%" ng-reflect-color="#f3f3f3" offset="-1.66813" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-2; 1" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1.5; 1.5" ng-reflect-offset="50%" ng-reflect-color="#ecebeb" offset="-1.16813" stop-color="#ecebeb">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1.5; 1.5" dur="1000ms"></animate>
                                </stop>
                                <stop ngx-svg-stop="" ng-reflect-speed="1000ms" ng-reflect-values="-1; 2" ng-reflect-offset="100%" ng-reflect-color="#f3f3f3" offset="-0.668125" stop-color="#f3f3f3">
                                    <animate attributeName="offset" repeatCount="indefinite" values="-1; 2" dur="1000ms"></animate>
                                </stop>
                            </linearGradient>
                        </defs>
                    </g>
                </g>
            </svg>
        </svg>
    </svg>
</ngx-content-loading>
<ng-container *ngIf="posts">
<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="loadInfinitePosts()"
>
<div class="insta-post-card" *ngFor="let post of posts; let i = index" (dblclick)="likePost(post)">
  <div class="post-header clearfix">
    <div class="user-post-profile-pic">
      <a [routerLink]="['/profile', post.user.username]">
      <img src="{{  _userService.profileImageApi+post.user.userImage }}" alt="Discover Nepal">
      </a>
    </div>
    <div class="post-header-desc">
      <a [routerLink]="['/profile', post.user.username]"><h4>{{ post.user.username }}</h4></a>
      <p>{{ post.location }}</p>
    </div>
  </div>
  <div class="post-image">
    <img class="card-img-top" src="{{ _postsService.postImageApi+post.postImage }}" alt="Card image cap">
  </div>
  <div class="post-footer">
    <div class="post-buttons">
      <div class="left-buttons">
        <button id="like_btn" *ngIf="!post.liked" (click)="likePost(post)"><i class="far fa-heart"></i></button>
        <button id="like_btn" *ngIf="post.liked" (click)="unLikePost(post)"><i class="fas fa-heart" style="color: red"></i></button>
        <!-- <button id="comment_btn"><i class="far fa-comment"></i></button> -->
        <!-- <button id="share_btn"><i class="fas fa-share"></i></button> -->
      </div>
      <div class="right-buttons">
        <button id="save_btn" *ngIf="!post.saved" type="button" (click)="savePost(post)"><i class="far fa-bookmark"></i></button>
        <button id="save_btn" *ngIf="post.saved" type="button" (click)="deleteSavePost(post)"><i class="fas fa-bookmark"></i></button>
      </div>
    </div>
    <div class="post-status">
      <a href="#"><strong>{{ post.likesNo }} likes</strong></a>
    </div>
    <div class="post-caption">
        <p><a href="#"><strong>{{ post.user.username }}</strong></a>{{ post.caption }}.</p>
    </div>
    <div *ngIf="post.commentsNo > 0" class="view_comment">
        <a [routerLink]="['/post', post.id]">View all {{post.commentsNo}} comments</a>
    </div>
    <p class="timeStamp">{{ post.createdAt | moment: 'MMMM Do YYYY, h:mm:ss a' }}</p>
  </div>
</div>
</div>
</ng-container>