<ng-container *ngIf="posts">
<div
infiniteScroll
[fromRoot]="false"
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="loadInfinitePosts()"
>
<div class="insta-post-card" *ngFor="let post of posts; let i = index" (dblclick)="likePost(post)">
  <div class="post-header clearfix">
    <div class="user-post-profile-pic">
      <a [routerLink]="['/profile', post.user.username]">
      <img src="{{  _userService.profileImageApi+post.user.userImage }}" alt="Discover Nepal">
      </a>
    </div>
    <div class="post-header-desc">
      <a [routerLink]="['/profile', post.user.username]"><h4>{{ post.user.username }}</h4></a>
      <p>{{ post.location }}</p>
    </div>
  </div>
  <div class="post-image">
    <img class="card-img-top" src="{{ _postsService.postImageApi+post.postImage }}" alt="Card image cap">
  </div>
  <div class="post-footer">
    <div class="post-buttons">
      <div class="left-buttons">
        <button id="like_btn" *ngIf="!post.liked" (click)="likePost(post)"><i class="far fa-heart"></i></button>
        <button id="like_btn" *ngIf="post.liked" (click)="unLikePost(post)"><i class="fas fa-heart" style="color: red"></i></button>
        <!-- <button id="comment_btn"><i class="far fa-comment"></i></button> -->
        <!-- <button id="share_btn"><i class="fas fa-share"></i></button> -->
      </div>
      <div class="right-buttons">
        <button id="save_btn" *ngIf="!post.saved" type="button" (click)="savePost(post)"><i class="far fa-bookmark"></i></button>
        <button id="save_btn" *ngIf="post.saved" type="button" (click)="deleteSavePost(post)"><i class="fas fa-bookmark"></i></button>
      </div>
    </div>
    <div class="post-status">
      <a [routerLink]="['/post', post.id]"><strong>{{ post.likesNo }} likes</strong></a>
    </div>
    <div class="post-caption">
        <p><a href="#"><strong>{{ post.user.username }}</strong></a>{{ post.caption }}.</p>
    </div>
    <div *ngIf="post.commentsNo > 0" class="view_comment">
        <a [routerLink]="['/post', post.id]">View all {{post.commentsNo}} comments</a>
    </div>
    <p class="timeStamp">{{ post.createdAt | moment: 'MMMM Do YYYY, h:mm:ss a' }}</p>
  </div>
</div>
<facebook-content-loader *ngIf="loading"></facebook-content-loader>
</div>
</ng-container>