.followersoverlay{
    align-items: center;
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    flex-direction: column;
    left: 0;
    display: flex;
    overflow-y: auto;
    position: fixed;
    justify-content: center;
    right: 0;
    top: 0;
    z-index: 1111;
}
.followers{
    background: #fff;
    flex: 1 1;
    min-height: 200px;
    max-height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.followers .ftitle{
    text-align: center;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.followers .ftitle h2{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    margin: 0;
    line-height: 24px;
    text-align: center;
}
.followers .ftitle button{
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 4px;
    font-size: 23px;
    height: 40px;
    width: 40p;
    background: none;
    border: none;
}
.followers .fcontent{
    min-height: 200px;
    overflow-y: scroll;
}
.followers .fcontent ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.followers .fcontent ul li{
    display: block;
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
.followers .fcontent ul li .user-image{
    height: 30px;
    width: 30px;
    margin-right: 12px;
}
.followers .fcontent ul li .user-image img{
    max-width: 100%;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.followers .fcontent .followBtn{
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    outline: none;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 4px 8px;
    text-align: center;
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 14px;
    text-transform: inherit;
    text-overflow: ellipsis;
}
.followers .fcontent .followingBtn{
    cursor: pointer;
    display: block;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 14px;
    width: auto;
}
.followers .fcontent .user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.followers .fcontent .user-info strong{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.followers .fcontent .user-info strong a:hover{
    color: #262626;
}
.followers .fcontent .user-info small{
    color: #999999;
    font-weight: 400;
}
/*Follow Setting Modal */
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.modal-content button {
    width: 100%;
    background-color: transparent;
    border: none;
    border-top: 1px solid #efefef;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.modal-content button:first-child{
    border:none;
}
#followsettings .user-profile-img{
    margin: 32px 0 16px 0;
    height: 90px;
    width: 90px;
}
#followsettings p{
    margin: 13px 28px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #999;
}
#followsettings .user-profile-img img{
    border-radius: 50%;
    max-width: 100%;
}