<div class="followersoverlay">
  <div class="followers">
    <div class="ftitle">
      <h2>Likes</h2>
      <button type="button" (click)="closePostDetail()"><i class="fas fa-times"></i></button>
    </div>
    <div class="fcontent">
      <app-insta-loading *ngIf="loading"></app-insta-loading>
      <ul *ngIf="likes">
        <li *ngFor="let like of likes">
          <div class="user-image">
            <a [routerLink]="['/profile', like.username]">
              <img [src]="like.userImage" alt="">
            </a>
          </div>
          <div class="user-info">
            <strong><a [routerLink]="['/profile', like.username]">{{ like.username }}</a></strong>
            <small>{{ like.displayName }}</small>
          </div>
          <!-- <button type="button" *ngIf="!follower.follow && !follower.mineuid" (click)="follow(like)" class="followBtn">Follow</button>
          <button type="button" *ngIf="follower.follow && !follower.mineuid" class="followingBtn">Following</button>
          <button *ngIf="folllowReq &&!follower" class="followingBtn" [disabled]="folllowloading">Requested</button> -->
        </li>
      </ul>
    </div>
  </div>
</div>