
<div class="followersoverlay">
  <div class="followers">
    <div class="ftitle">
      <h2>Likes</h2>
      <button type="button" (click)="closePostDetail()"><i class="fas fa-times"></i></button>
    </div>
    <div class="fcontent">
      <app-insta-loading *ngIf="loading"></app-insta-loading>
      <ul *ngIf="likes">
        <li *ngFor="let like of likes">
          <div class="user-image">
            <a [routerLink]="['/profile', like.user.username]">
              <img [src]="like.user.userImage" alt="">
            </a>
          </div>
          <div class="user-info">
            <strong><a [routerLink]="['/profile', like.user.username]">{{ like.user.username }}</a></strong>
            <small>{{ like.user.displayName }}</small>
          </div>
          <ng-container *ngIf="like.user.id != this._userService.user.id">
              <button type="button" *ngIf="!like.status" (click)="follow(like)" class="followBtn">Follow</button>
              <ng-container *ngIf="like.status">
                <button type="button" *ngIf="like.status.followRequested === 0" class="followingBtn">Following</button>
                <button *ngIf="like.status.followRequested === 1" class="followingBtn" disabled>Requested</button>
              </ng-container>
          </ng-container>
          <!-- <button type="button" *ngIf="!follower.follow && !follower.mineuid" (click)="follow(like)" class="followBtn">Follow</button>
          <button type="button" *ngIf="follower.follow && !follower.mineuid" class="followingBtn">Following</button>
          <button *ngIf="folllowReq &&!follower" class="followingBtn" [disabled]="folllowloading">Requested</button> -->
        </li>
      </ul>
    </div>
  </div>
</div>