<app-header></app-header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8" #instapost>
                <app-insta-post></app-insta-post>
            </div>
            <!-- <div class="col-md-4 fixed-rt-col" stickyThing [spacer]="instapost"> -->
                <div class="col-md-4 fixed-rt-col">
                <div class="my-profile-link clearfix" *ngIf="_userService.user">
                    <div class="profile-img">
                        <a [routerLink]="['/myprofile']" >
                            <img [src]="_userService.user.userImage" alt="{{_userService.user.username}}">
                        </a>
                    </div>
                    <div class="profile-detail">
                        <a [routerLink]="['/myprofile', _userService.user.username]">{{ _userService.user.username }}</a>
                        <p>{{ _userService.user.displayName }}</p>
                    </div>
                </div>
                <!-- <app-stories></app-stories> -->
                <app-suggestions></app-suggestions>
                <div class="home-footer">
                    <nav>
                        <a href="#">About Us</a>
                        <a href="#">Support</a>
                        <a href="#">Press</a>
                        <a href="#">API</a>
                        <a href="#">Jobs</a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Directory</a>
                        <a href="#">Profiles</a>
                        <a href="#">Hashtags</a>
                        <a href="#">Laguage</a>
                    </nav>
                    <p>&copy; {{ date | date:'yyyy' }} instagram</p>
                    <p style="color: red;font-weight: 600;letter-spacing: 0.6px;">NOTE: This is a clone app of Instagram and is for educational purpose only.</p>   
                </div>
            </div>
        </div>
    </div>
</main>